<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <title>商铺用户注册</title>
    <style>
        .div1 {
            width: 500px;
            height: 500px;
            background: #eee;
            border: 1px solid #ccc;
            position: relative;
            left: 35%;
            top: 25%;
        }

        .div2 {
            position: absolute;
            float: left;
            left:125px;
            top:50px
        }
    </style>
</head>

<body>
    <div class="div1">
        <div class="div2">
            账号:<input type="text" name="account" id="account"> <br />
            用户名<input type="text" name="name" id="name"> <br />
            密码:<input type="password" name="password" id="password"> <br />
            重新输入密码<input type="password" name="repassword" id="repassword"> <br />
            <div style="margin: 20px;">
                <input type="button" value="注册" onclick="register()" style="cursor: pointer">
                <input type="button" value="返回" onclick="comeback()" style="cursor: pointer"> 
            </div>
        </div>
    </div>

</body>

</html>
<script>
    function register() {
        $.ajax({
            type: "post", data: { "account": $("#account").val(), "name": $("#name").val(), "password": $("#password").val(), "repassword": $("#repassword").val() }, url: "/register", success: function (result) {
                if (result.status != 200) {
                    alert(result.message)
                    return
                }
                alert(result.message)
                window.location.href = "/login"
            }
        });
    }
    function comeback() {
        window.location.href = "/login"
    }

</script>